#
# SPDX-License-Identifier: GPL-2.0
#
# Copyright (c) 2013-2023 Igor Pecovnik, igor@armbian.com
#
# This file is a part of the Armbian Build Framework
# https://github.com/armbian/build/
#
ARCH="riscv64"

LINUXCONFIG="linux-milkduos-${BRANCH}"
LINUXFAMILY="milkduos"

case "${BRANCH}" in


	legacy)
		declare -g KERNEL_MAJOR_MINOR="5.10" # Major and minor versions of this kernel. For mainline caching.
		KERNELSOURCE='https://github.com/draftbottle/linux_5.10'
		KERNELBRANCH="branch:master"
		KERNELPATCHDIR="milkduos-${BRANCH}"
		;;

esac

#KERNELPATCHDIR="archive/milkduos-${KERNEL_MAJOR_MINOR}" # Don't use symlinks.
